<div class='row'>
  <div class="col-md-4 col-md-offset-4">
    <div class='col-md-12'>
      <h4 style='margin-top: 50px'>Sign in</h4>
      <%= form_for :session, url: { action: 'create' } do |f|%>
        <div>
          <div class='form-group'>
            <%= f.label(:email).upcase.html_safe %>
            <%= f.email_field :email, class: 'form-control' %>
          </div>
          <div class='form-group'>
            <%= f.label(:password).upcase.html_safe %>
            <%= f.password_field :password, class: 'form-control' %>
          </div>
        </div>
        <div class='pull-right form-button-margin'>
          <%= f.submit 'LOG IN', class: 'btn btn-default' %>
        </div> 
      <% end %>
    </div>
  </div>
</div>