<div class='row'>
  <div class="col-md-4 col-md-offset-4">
    <div class='col-md-12'>
      <h4 style='margin: 50px 0px 20px 0px'>Sign in</h4>
      <%= form_for :session, url: { action: 'create' } do |f|%>
        <div class='form-border'>
          <div class='form-group'>
            <%= f.label(:email).upcase.html_safe %>
            <%= f.email_field :email, class: 'form-control' %>
          </div>
          <div class='form-group'>
            <%= f.label(:password).upcase.html_safe %>
            <%= f.password_field :password, class: 'form-control' %>
          </div>
        </div>
        <div class="row" style='margin: 0px'>
          <%= f.label :remember_me do %>
            <%= f.check_box :remember_me %>
            <span style='margin-bottom: 5px'>Remember me</span>
          <% end %>
          <%= link_to 'Forgot password?', '#', class: 'pull-right', style: 'margin-top: 10px' %>
        </div>
        <div class='pull-right' style='margin-top: 10px'>
          <%= f.submit 'LOG IN', class: 'btn btn-default' %>
        </div> 
      <% end %>
    </div>
  </div>
</div>