<div id='dashboard-title' class='row'>
	<ul class='list-inline'>
		<li><p>DASHBOARD</p></li>
		<li><p>OBUCA</p></li>
		<li><%= link_to 'KORISNICI', admin_users_path %></li>
	</ul>
</div>
<div id='dashboard-container' class='row' style='text-align: center'>

	<div class='col-md-4'>
		<a href="#">
			<div class='col-md-12'>
		     <p><%= @categories.count %></p>
		     <p class='small-text'>kategorija</p>
			</div>	
			<div class='col-md-6 col-md-offset-3'>
				<%= link_to 'DODAJ KATEGORIJU', new_admin_user_path %>
			</div>
		</a>
	</div>

	<div class='col-md-4'>
		<a href="#">
			<div class='col-md-12'>
		     <p><%= @product_variants.count %></p>
		     <p class='small-text'>obuca</p>
			</div>	
			<div class='col-md-6 col-md-offset-3'>
				<%= link_to 'DODAJ OBUCU', new_admin_user_path %>
			</div>
		</a>
	</div>

	<div class='col-md-4'>
		<a href="#">
			<div class='col-md-12'>
		    <p><%= @users.count %></p>
		    <p class='small-text'>korisnici</p>
			</div>
		</a>	
		<div class='col-md-6 col-md-offset-3'>
			<%= link_to 'DODAJ KORISNIKE', new_admin_user_path %>
		</div>
	</div>
</div>