
<div class='row'>
  <div class="col-md-4 col-md-offset-4">
    <div class='col-md-12'>
      <div style='margin: 50px 0px 20px 0px'>
        <h4 style='display: inline'>Create your account</h4>
        <%= link_to 'Login to your account', sign_in_path, style: 'display: inline; float: right; font-size: 12px' %>
      </div> 
      <%= form_for @user, url: { action: 'create' }, html: { class: 'form-signin'} do |f| %>
        <% if @user.errors.any? %>
          <% @user.errors.full_messages.each do |message| %>
            <p style='font-size: 14px; color: #b30000'><%= message %></p>
          <% end %>
        <% end %>
        <div class='form-border'>
          <div class='form-group'>
            <%= f.label :username %>
            <%= f.text_field :username, class: 'form-control' %>
          </div>
          <div class='form-group'>
            <%= f.label(:first_name).upcase.html_safe %>
            <%= f.text_field :first_name, class: 'form-control' %>
          </div>
          <div class='form-group'>
            <%= f.label(:last_name).upcase.html_safe %>
            <%= f.text_field :last_name, class: 'form-control' %>
          </div>
          <div class='form-group'>
            <%= f.label(:email).upcase.html_safe %>
            <%= f.email_field :email, class: 'form-control' %>
          </div>
          <div class='form-group'>
            <%= f.label(:password).upcase.html_safe %><br>
            <%= f.password_field :password, class: 'form-control' %>
          </div>
          <div class='form-group'>
            <%= f.label(:password_confirmation).upcase.html_safe %><br>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
          </div>
        </div>
        <div class='form-button-margin pull-right'>
          <%= f.submit 'SIGN UP', class: 'btn btn-default form-input' %>
        </div>
      <% end %>
    </div>
  </div>
</div>