<div style='width: 100%; height: 400px;' class='cover-image'>
  <nav class="navbar navbar-cover">
    <div class="container">
      <div class="navbar-header">
        <%= link_to 'abhShoes', root_path, class: "navbar-brand" %>
      </div>
      <div class='collapse navbar-collapse'>
        <ul class="nav navbar-nav navbar-midle">
          <% Category.all.each do |category| %>
            <li><%= link_to category.title, '#' %></li>
          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
            <% if current_user.role == 'admin' %>
              <li><%= link_to 'ADMIN', admin_users_path %>
            <% end %>
            <li><%= link_to "<span class='glyphicon glyphicon-shopping-cart'></span>".html_safe, '#' %>
            <li><%= link_to 'LOG OUT', logout_path, method: 'delete' %></li>
          <% else %>
            <li><span style='color: white'>Cart:</span> <%= link_to current_cart.cart_items.count, cart_path, :style => 'color: white; display: inline-block;' %>
            </li>
            <li><%= link_to "<span class='glyphicon glyphicon-shopping-cart'></span>".html_safe, '#' %>
            <li><%= link_to 'LOGIN', sign_in_path %></li>
            <li><%= link_to 'REGISTER', sign_up_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</div>
