<div class="row">
  <table class='table table-bordered table-hover'>
    <thead>
      <tr>
        <th>Proizvod</th>
        <th>Boja</th>
        <th>Velicina</th>
        <th>Kolicina</th>
        <th>Cijena</th>
      </tr>
    </thead>
    <tbody>
    <% @carts.each do |cart| %>
      <tr>
        <% if cart.order.nil? %>
          <% next %>
        <% else %>
          <% cart.cart_items.each do |item| %>
            <td><%= item.product_variant.product_title %></td>
            <td><%= item.product_variant.product_variant_color %></td>
            <td><%= item.product_variant.product_variant_size %></td>
            <td><%= item.quantity %></td>
            <td><%= item.product_variant.product_price %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>