  <div class='col-md-8'>  
    <div class='row' style='margin-bottom: 30px'>
      <h3 style='margin-left: 30px'>Vaša korpa</h3>
    </div>
    <% @cart.each do |cart_item| %>
      <% if cart_item.product_variant.deleted? %>
        <%= render 'carts/deleted_cart_items', f: cart_item %>
      <% else %>
        <%= render 'carts/cart_items', f: cart_item %>
      <% end %>
    <% end %>
  </div>
    <% if has_deleted_product_variant? @cart %>
      <div class='col-md-4'>
        <div class="alert alert-warning" role="alert">
          <strong>Napomena:</strong>
          U korpi se nalazi proizvod koji nije dostupan, i ako zeliti nastaviti kupovinu, izbrisite ga iz korpe.
        </div>
      </div>
    <% else %>

    <div id='order' class='col-md-4'>
      <div class='col-md-10 pull-right' style='margin: 20px 0px; padding: 0px'>
        <ul class="list-inline">
          <li style='margin-right: 75px'>KORPA</li>
        </ul>
      </div>
      <div class='col-md-10 pull-right' style='border: 1px solid #ECDCDC; padding: 0px'>
        <div style='margin: 15px; padding-bottom: 15px; border-bottom: 1px solid #ECDCDC'>
          <div class='row'>
            <div class='col-md-7 pull-left' style='padding: 0px; margin-bottom: 21px'>
              <p>Narudzba <span style='color: #BB9E9E; margin-left: 10px'><%= current_cart.how_many_orders %> proizvoda</span></p>
            </div>
          </div>
          <div class='row'>
            <div class='col-md-5 pull-right' style='text-align: right; padding: 0px'>
              <p>Cijena:</p>
              <p><strong><%= number_with_precision(current_cart.total, precision: 2) %>KM</strong></p>
            </div>
          </div>
          <br>
          <div class='row'>
            <div class='col-md-5 pull-right' style='text-align: right; padding: 0px'>
              <p>Dostava:</p>
              <p><strong><%= number_with_precision(current_cart.delivery_cost, precision: 2) %>KM</strong></p>
            </div>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-6 pull-right' style='text-align: right; margin-bottom: 15px'>
            <p>Ukupno: <strong><%= number_with_precision(current_cart.total_with_delivery, precision: 2) %>KM</strong></p>
          </div>
        </div>
      </div>
      <div class='col-md-10 pull-right' style='margin: 0px; padding: 0px'>
        <div class='pull-right' style='margin-top: 15px'>
          <% if current_user %>                                                     
            <%= form_for @order, url: { action: 'create', controller: 'orders' } do %>
              <%= hidden_field_tag :amount, current_cart.total_with_delivery * 100 %>
              <script 
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-email="<%= current_user.email %>"
                data-label="KUPI"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-description="AbhShop"
                data-amount="<%= current_cart.total_with_delivery * 100 %>"
                data-locale="auto"
                data-shipping-address='true'>
              </script>
              <%= link_to 'ODUSTANI', delete_cart_path(current_cart.id), method: :delete, class: 'btn btn-primary',
                                                                          id: 'discard',
                                                                       data: { confirm: 'Are you sure?' } %>
            <% end %>
          <% else %>
              
              <%= link_to 'ODUSTANI', delete_cart_path(current_cart.id), method: :delete, class: 'btn btn-primary pull-right',
                                                                          id: 'discard',
                                                                       data: { confirm: 'Are you sure?' } %>
              <button id='cart-warning-button' type="button" class="btn btn-info pull-right disabled">KUPI</button> 
              <div style='text-align: center'>                                                     
                <p class='cart-warning-text'><strong>Napomena:</strong> Morate biti logovani da bi izvrsili placanje.
                  <%= link_to 'Loguj se', sign_in_path %>
                </p>
              </div>  
          <% end %>
        </div>
      </div>
    </div>
    <% end %>

