<div class='row'>
  <div id='dashboard-title' class='col-md-10'>
    <ul class='list-inline'>
      <%= render 'admin/dashboard/navbar/links' %>
    </ul>
  </div>
  <div class='col-md-2'>
    <%= link_to "DODAJ KATEGORIJU", new_admin_category_path, class: 'btn create-new pull-right'  %>
  </div>
</div>
<div class="row">
<div class='row' style='border: 1px solid #ECECEC; padding: 40px'>
  <%= form_for @category, url: { controller: 'admin/categories', action: 'create' } do |f| %>
    <% if @category.errors.any? %>
      <% @category.errors.full_messages.each do |message| %>
        <p style='font-size: 14px; color: #b30000'><%= message %></p>
      <% end %>
    <% end %>
    <div class='row' style='margin-bottom: 80px'>
      <div class='row'>
        <div class='col-md-4'>
          <div class='form-group'>
            <%= f.label :nil, 'Naziv' %>
            <%= f.text_field :title, class: 'form-control' %>
          </div>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class='form-group pull-right'>
        <%= f.submit 'KREIRAJ KATEGORIJU', class: 'btn create-new' %>
      </div>
      <%= link_to 'ODUSTANI', admin_categories_path, class: 'pull-right btn odustani' %>
    </div>
  <% end %>
</div>  