
<% content_for :admin_navbar_new_shoes, render('admin/products/admin_navbar_new_shoes') %>
<div class='row' style='border: 1px solid #ECECEC'>
  <div class='row' style='margin: 20px 45px 30px 30px'>
    <%= form_for @product, url: { controller: 'admin/products', action: 'create' } do |f| %>
    <div class='row'>
      <div class='col-md-6'>
        <% if @product.errors.any? %>
          <% @product.errors.full_messages.each do |message| %>
            <p style='font-size: 14px; color: #b30000'><%= message %></p>
          <% end %>
        <% end %>
        <div class="form-group">
          <%= f.label :naziv %>
          <%= f.text_field :title, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :opis %>
          <%= f.text_area :description, class: 'form-control' %>
        </div>
        <div class='row'>
          <div class='col-md-6'> 
            <div class="form-group">
              <%= f.label :cijena %>
              <%= f.number_field :price, min: 1, class: 'form-control' %>
            </div>
          </div>
          <div class='col-md-6'>
            <%= f.fields_for :brand do |x| %>
              <div class="form-group">
                <%= x.label :brend %>
                <%= x.collection_select(:id, Brand.all, :id, :title, { prompt: "Izaberi brend" }, { class: 'form-control' }) %>
              </div>  
            <% end %>
          </div>
        </div>
      </div>
      <div class='col-md-6'>
        <div>
        </div>
        <div class='row'>
          <div class="form-group">
            <%= f.label :nil, 'ili Link slike' %>
            <%= f.text_field :photo_url, class: 'form-control' %>
          </div>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class='form-group pull-right'>
        <%= f.submit 'KREIRAJ ARTIKAL', class: "btn create-new" %>
      </div>
    </div>
    <% end %>
  </div>
</div>