<div class='col-md-2'>
  <div class='row'>
    <h5>FILTER</h5>
  </div>
  <%= form_tag('T', method: 'get') do |f| %>
  <div id='filters'>
    <div class='row'>
      <div class="col-md-8">
        <div class="form-group">
          <%= label_tag :brand %>
          <%= select_tag :brand, options_for_select( Brand.all.map { |b| [b.title, "?brand=#{b.id}" ]}.unshift(['Svi brendovi', '?brand=all'])), { class: 'form-control'} %>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class="col-md-8">
        <div class="form-group">
          <%= label_tag :velicina %>
          <%= select_tag :size, options_for_select( Size.all.map { |b| [b.product_size, "?size=#{b.id}" ]}.unshift(['Sve velicine','?size=all'])), { class: 'form-control'}  %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class='col-md-8'>
        <div class="form-group">
          <%= label_tag :boja %>
          <%= select_tag :color, options_for_select( Color.all.map { |b| [b.product_color, "?color=#{b.id}" ]}.unshift(['Sve boje','?color=all'])), { class: 'form-control'}  %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
<div class='col-md-10'>
  <div class="col-md-12 pull-right">
    <div class='row'>
      <h5 class='pull-left'><%= @category.title %></h5>
      <div class="col-md-4 pull-right">
        <div class='col-md-3'>
          <p>Cijena:</p>
        </div>
        <div class="col-md-9">
          <div class="form-group">
            <%= select_tag :sort_by_price, options_for_select([['od vece ka manjoj', 1], ['od manje ka vecoj', 2 ]]), { class: 'form-control'} %>
          </div>
        </div>
      </div>
    </div>
    <div id='products' class='row'>
      <% @products.each_slice(4) do |slice| %>
          <div class='row' style='margin-bottom: 80px'>
            <% slice.each do |product| %>
              <div class="col-sm-6 col-md-3 col-lg-3">
                <%= link_to category_product_path(product.categories.first.id, product.id), class: 'thumbnail' do %>
                  <div style='height: 80px'>
                    <img src="<%= product.picture_link %>" class='img-responsive'>
                  </div>
                  <p style='margin-top: 15px; margin-bottom: 0px'>
                    <%= product.title %>
                  </p> 
                  <p style='font-size: 15px'><strong><%= product.price %>KM</strong></p>
                <% end %>  
              </div>
            <% end %>
          </div>
      <% end %> 
    </div>
  </div>
</div>
