<h1>Users</h1>

<% @users.each do |user| %>
  <%= user.first_name %>
    <%= form_tag(controller: 'admin/users', action: 'promote',  method: "post") do %>
      <%= hidden_field_tag :user_id, user.id %>
      <%= submit_tag 'Promote' %>
    <% end %>
    <%= form_tag(controller: 'users', action: 'demote', method: "post") do %>
      <%= hidden_field_tag :user_id, user.id %>
      <%= submit_tag 'Demote' %>
    <% end %><br>
<% end %>