<% content_for :admin_navbar_new_user, render('admin/users/admin_navbar_new_user') %>
<table class='table table-bordered table-hover'>
  <thead>
    <tr>
      <th>Korisnicko ime</th>
      <th>Email Adresa</th>
      <th>Ime</th>
      <th>Prezime</th>
      <th style='text-align: center; width: 6%; padding-left: 0px !important'>Opcije</th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.first_name %> <%= user.last_name %></td>
      <td><%= user.email %></td>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td style='text-align: center; width: 6%; padding-left: 0px !important'>
        <span class='glyphicon glyphicon-edit admin-icon'></span>
        <span class='glyphicon glyphicon-trash admin-icon'></span>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<!-- <ul class="list-group">
  <li class="list-group-item" id='user'>Admins</li>
  <% @users.each do |user| %>
  <% if user.role == 'admin' %>
      <li class="list-group-item clearfix">
        <span><%= user.first_name.capitalize%></span><span> (<%= user.email %>)</span>
        <span class='pull-right'>
          <%= form_tag(controller: 'users', action: 'demote', method: "post") do %>
            <%= hidden_field_tag :user_id, user.id %>
            <%= button_tag(type: "submit", class: "btn btn-danger") do %>
              <span class='glyphicon glyphicon-arrow-down'></span>
            <% end %>
          <% end %>
        <span>
      </li>
    <% end %>  
  <% end %>
</ul>

<ul class="list-group">
  <li class="list-group-item" id='user'>Users</li>
  <% @users.each do |user| %>
  <% if user.role == 'basic' %>
      <li class="list-group-item clearfix">
        <span><%= user.first_name.capitalize%></span><span> (<%= user.email %>)</span>
        <span class='pull-right'>
          <%= form_tag(controller: 'users', action: 'promote', method: "post") do %>
            <%= hidden_field_tag :user_id, user.id %>
            <%= button_tag(type: "submit", class: "btn btn-success") do %>
              <span class='glyphicon glyphicon-arrow-up'></span>
            <% end %>
          <% end %>
        <span>
      </li>
    <% end %>
  <% end %>
</ul> -->
<script>
$(document).ready(function() {
    $('#dashboard-title').find('a').each(function() {
    if (this.href == window.location.href) {
        $(this).addClass('active-link')
        }
    });
});
</script>