<div class='col-md-10 col-md-offset-1' style='margin-top: 30px'>
  <div class='row'>
    <div class='col-md-6 product-left'>
        <div id='title' class='product-details'>
          <h4><%= @product.title %></h4>
        </div>
        <% if @product.has_discount? %>
          <span id='discount-product' class="label label-danger">
            - <%= @product.discount %>%
          </span>
        <% end %>
        <img src="<%= @product.picture_link %>" class="img-responsive">
    </div>
    <div class='col-md-6 product-right'>
      <div id='description'>
        <p><%= @product.description %></p>
      </div>
      <div>
        <% if @product.product_variants.blank? %>
          <div class="well well-lg text-center">Trenutno ovaj proizvod nije na stanju</div>
        <% else %>
          <%= form_for @cart_item, url: { action: 'create', controller: 'cart_items' } do |f| %>
            <%= f.hidden_field :cart_id, value: current_cart.id %>
            <%= fields_for :product_details do |details| %>
              <%= details.hidden_field :category_id, value: params[:category_id] %>
              <%= details.hidden_field :product_id, value: params[:id] %>
            <% end %>
            <%= fields_for :product_variant do |variant| %>
              <div id='size'>
                <%= variant.label 'Veličina' %>
                <%= variant.select :size_id, options_for_select(@size.map { |size| [ size.product_size, size.id ] }, 1 ) %>
              </div>
              <div id='color'>
                <%= variant.label 'Boja' %>
                <%= variant.select :color_id, grouped_options_for_select(@test_color) %>
              </div>
            <% end %>
            <div id='quantity'>
              <h5>Količina:</h5>
              <%= f.number_field :quantity, value: 1, min: 1,  class: 'form-group' %>
            </div>
            <div id='price'>
              <h5>Cijena:</h5>
              <% if @product.has_discount? %>
                <p><%= number_with_precision(@product.with_discount, precision: 2) %>KM</p>
              <% else %>
                <p><%= number_with_precision(@product.price, precision: 2) %>KM</p>
              <% end %>  
            </div>
            <%= f.submit 'DODAJ U KORPU', class: 'btn btn-default', :id => :cartitem  %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <br>
  <div id='similar-products' class='row'>
    <h4 style='text-align: center; margin: 30px 0px 50px 0px'>Slični proizvodi</h4>
    <% Product.all.sample(4).each do |product| %>
      <div class="col-sm-6 col-md-3 col-lg-3">
        <%= link_to category_product_path(product.categories.first.id, product.id), class: 'thumbnail' do %>
          <% if product.has_discount? %>
            <div style='height: 80px'>
              <span id='discount-similar-product' class="label label-danger">- <%= product.discount %>%</span>
              <img src="<%= product.picture_link %>" class='img-responsive'>
            </div>
            <p style='margin-top: 15px; margin-bottom: 0px'><%= product.title %></p> 
            <p style='font-size: 15px'><strong><%= number_with_precision(product.with_discount, precision: 2) %>KM</strong></p>
          <% else %>
            <div style='height: 80px'>
              <img src="<%= product.picture_link %>" class='img-responsive'>
            </div>
            <p style='margin-top: 15px; margin-bottom: 0px'>
              <%= product.title %>
            </p> 
            <p style='font-size: 15px'><strong><%= number_with_precision(product.price, precision: 2) %>KM</strong></p>
          <% end %>
        <% end %>  
      </div>
    <% end %>
  </div>
</div>



