<div class='col-md-10 col-md-offset-1' style='margin-top: 30px'>
  <div class='row'>
    <div class='col-md-6 product-left'>
        <div id='title'>
          <h4><%= @product.title %></h4>
        </div>
        <img src="<%= @product.photo_url %>" class="img-responsive">
    </div>

    <div class='col-md-6 product-right'>
      <div id='description'>
        <p><%= @product.description %></p>
      </div>
      <div>
        <%= form_for @cart_item, url: { action: 'create', controller: 'cart_items' } do |f| %>
          <%= f.hidden_field :cart_id, value: current_cart %>
          <%= f.hidden_field :product_variant_id, value: @product_variant.id %>
          <%= f.fields_for :product_variant do |variant_form| %>
            <div id='size'>
              <%= variant_form.label 'Velicina:' %>
              <%= variant_form.collection_select(:size_id, @product.sizes.uniq , :id, :product_size ) %>
            </div>  
            <div id='color'>
              <%= variant_form.label 'Boja:' %>
              <%= variant_form.collection_select(:color_id, @product.colors.uniq , :id, :product_color ) %>
            </div>
          <% end %>
          <div id='quantity'>
            <h5>Kolicina:</h5>
            <%= text_field_tag 'quantity', '', class: 'form-group' %>
          </div>
          <div id='price'>
            <h5>Cijena:</h5>
            <p><%= @product.price %>KM</p>
          </div>
          <%= f.submit 'DODAJ U KORPU', class: 'btn btn-default', :id => :cartitem  %>
        <% end %>
      </div>
    </div>
  </div>
  <br>
  <div class='row'>
    <h4 style='text-align: center; margin-top: 30px'>Slicni proizvodi</h4>
    <% Product.all.sample(4).each do |product| %>
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src="<%= product.photo_url %>" alt="...">
          <p><%= product.title %></p>
        </a>
      </div>
    <% end %>
  </div>
</div>
