<div class='col-md-10 col-md-offset-1' style='margin-top: 30px'>
  <div class='row'>
    <div class='col-md-6 product-left'>
        <div id='title' class='product-details'>
          <h4><%= @product.title %></h4>
        </div>
        <img src="<%= @product.photo_url %>" class="img-responsive">
    </div>

    <div class='col-md-6 product-right'>
      <div id='description'>
        <p><%= @product.description %></p>
      </div>
      <div>
        <%= form_for @cart_item, url: { action: 'create', controller: 'cart_items' } do |f| %>
          <%= f.hidden_field :cart_id, value: current_cart.id %>
          <%= fields_for :product_variant do |variant| %>
            <div id='size'>
              <%= variant.label 'Veličina' %>
              <%= variant.collection_select(:size_id, @size.uniq , :id, :product_size ) %>
            </div>
            <div id='color'>
              <%= variant.label 'Boja' %>
              <%= variant.collection_select(:color_id, @color.uniq , :id, :product_color ) %>
            </div>
          <% end %>
          <div id='quantity'>
            <h5>Količina:</h5>
            <%= f.text_field :quantity,  class: 'form-group' %>
          </div>
          <div id='price'>
            <h5>Cijena:</h5>
            <p><%= @product.price %>KM</p>
          </div>
          <%= f.submit 'DODAJ U KORPU', class: 'btn btn-default', :id => :cartitem  %>
        <% end %>
      </div>
    </div>
  </div>
  <br>
  <div class='row'>
    <h4 style='text-align: center; margin: 30px 0px 50px 0px'>Slični proizvodi</h4>
    <% Product.all.sample(4).each do |product| %>
      <div class="col-xs-6 col-md-3">
        <%= link_to category_product_path(product.categories.first.id, product.id), class: 'thumbnail' do %>
          <div class='pull-left'>
            <img src="<%= product.photo_url %>" class="img-responsive">
            <p style='margin-top: 15px; margin-bottom: 0px; width: 150px'><%= product.title %></p> 
            <p style='font-size: 15px'><strong><%= product.price %>KM</strong></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>


