<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to 'abhShoes', root_path, class: "navbar-brand" %>
    </div>
    <ul class="nav navbar-nav">
      <% Category.all.each do |category| %>
        <li><%= link_to category.title, '#' %></li>
      <% end %>
      <% if current_user %>
        <li><%= link_to 'LOG OUT', logout_path, method: 'delete' %></li>
      <% else %>
        <li><%= link_to 'REGISTER', sign_up_path %><br></li>
        <li><%= link_to 'LOGIN', sign_in_path %></li>
      <% end %>
    </ul>
  </div>
</nav>