<!DOCTYPE html>
<html>
<head>
  <title>Abhshoes</title>
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <% if content_for? :nav %>
      <%= content_for :nav %>
    <% else %>
      <%= render 'layouts/navbar' %>
    <% end %>
    <div class='container'>
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %> col-md-4 col-md-offset-4"><h4><%= value %></h4></div>
      <% end %> 
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
</body>
</html>
