<!DOCTYPE html>
<html>
<head>
  <title>Abhshoes</title>
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://js.stripe.com/v2/' %>
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' %>
  <%= csrf_meta_tags %>
</head>
<body>
    <% if content_for? :nav %>
      <%= content_for :nav %>
    <% else %>
      <%= render 'layouts/navbar' %>
    <% end %>
    <% unless flash.empty? %>
      <script type="text/javascript">
          <% flash.each do |f| %>
            <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info' ) %>
            toastr['<%= type %>']('<%= f[1] %>');
          <% end %>
      </script>
    <% end %>
    <div class='container'>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
    <script>    
      $(document).ready(function() {
       toastr.options = {
          "closeButton": false,
          "debug": false,
          "positionClass": "toast-bottom-right",
          "onclick": null,
          "showDuration": "300",
          "hideDuration": "1000",
          "timeOut": "5000",
          "extendedTimeOut": "1000",
          "showEasing": "swing",
          "hideEasing": "linear",
          "showMethod": "fadeIn",
          "hideMethod": "fadeOut"
        } 
      });
    </script>

  </body>
</html>
